correlation.png
main.py
PhDHWK1.pdf
.idea/vcs.xml
results/cons.png
results/data.png
results/ERPGamma.png
results/ex3.tex
results/ex1.tex
results/inflation.png
results/nomIR.png
results/reinte.png
results/sp500.png
results/sp500nom.png
FEII_HW1_MaximeBorel.pdf
